.usersBlock{
    padding: 10px;
}
.usersBlock .totalCount{
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 6px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.usersBlock .totalCount .count{
   background-color: rgba(253, 236, 0);
   border-radius: 4px;
   font-size: 14px;
   font-weight: 500;
   padding: 0px;
}

.userWrapper{
    display: flex;
}
.userWrapper .photo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.userWrapper .btnUsers{
    position: relative;
    bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    background-color: rgb(253, 236, 0);
}
.userWrapper .btn:disabled{
    background-color: rgba(253, 236, 0, 0.288);
}
.userWrapper .right {
    padding-left: 10px;
}

.userWrapper .spanLeft{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
    letter-spacing: 0.5px;
}
.userWrapper .spanRight{
    color: rgb(253, 236, 0);
    letter-spacing: 0.5px;
    font-size: 15px;
}



