.myPostsWrapper{
	padding: 10px;
}
h3{
	margin-left: 10px;
	margin-bottom: 5px;
}
.posts{
	padding: 10px;
}

textarea, button {
	margin-left: 10px;
	border-radius: 4px;
	outline: none;
	border: none;
	
}
textarea{
	font-size: 18px;
	padding: 5px;
}

.btnPost {
	height: 26px;
	font-size: 14px;
	background-color: rgb(253, 236, 0);
	cursor: pointer;
	font-weight: 500;
}