.nav{
	grid-area: n;
	background-color: rgb(113, 121, 113);
	padding: 10px;
}

.item a {
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.item a.activeLink {
	color: rgb(253, 236, 0);
	font-size: 22px;
}
