.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}
.dialogs .dialogsItems{
   
}

.dialogsItems .dialog a{
    text-decoration: none;
}

.dialogsItems .dialog.active {
    color: burlywood;
}

.messages{
   
}
.messages .message{

}

.textWrapper{
    margin-top: 10px;
}
.textWrapper textarea{
    margin: 10px 0 0 0px;
}
.textWrapper button{
    margin: 12px 0 0 0px;
}
